<div style="margin-right: 2%; margin-bottom: 10px; text-align: center;">
    <a href="@_movieUrl">
        <img src="@Movie.Poster" alt="Poster" style="width: 225px; height: 300px;" />
    </a>
    <p style="max-width: 255px; height: 44px; font-size: 15px; font-weight: bold;">
        <a href="@_movieUrl"> @Movie.SmallTitle </a>
    </p>
    <div>
        <a class="btn btn-info">Edit</a>
        <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))" type="button" class="btn btn-danger">Delete</button>
    </div>
</div>

@code {

    [Parameter]
    public Movie Movie { get; set; }
    
    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }

    [Parameter]
    public bool ShowButtons { get; set; }

    private string _movieUrl = string.Empty;

    protected override void OnInitialized()
    {
        _movieUrl = $"movie/";
    }

}
